vehicles.server/HELP.md
vehicles.server/target/
!vehicles.server/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
vehicles.server/.apt_generated
vehicles.server/.classpath
vehicles.server/.factorypath
vehicles.server/.project
vehicles.server/.settings
vehicles.server/.springBeans
vehicles.server/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
